{% extends 'base.html' %}

{% block title %}
    Справочник - Москва
{% endblock %}
{% block content %}
    <h1>Москва</h1>
    <p>Москва – сердце России, один из самых красивых мегаполисов мира. Столица наполнена достопримечательностями,
        памятниками истории и культуры. Огромное количество музеев, театров, соборов, галерей и дворцов соседствует
        с монументальными зданиями советской архитектуры. Картину дополняют футуристические небоскребы, модные
        клубы, кафе и рестораны с великолепной кухней. Город невероятной динамики заряжает энергией и позитивом,
        дарит новые эмоции и знания. В Москву приезжают, чтобы полюбоваться столицей, ощутить гордость за страну,
        посетить значимые места и открыть для себя новые возможности.
    </p>
{% endblock %}
