{% extends 'base.html' %}

{% block title %}
    Справочник - Порвоо
{% endblock %}

{% block content %}
    <h1>Порвоо</h1>
    <p>Порвоо (фин. Porvoo, швед. Borgå) — второй старейший город Финляндии, расположенный в 50 км к востоку от
        Хельсинки. Известен своим живописным Старым городом с красными деревянными амбарами на берегу реки,
        средневековой планировкой улиц, уютными кафе и ремесленными лавками. Это популярное туристическое
        направление, сочетающее историческую атмосферу и уют.
    </p>
{% endblock %}