{% extends 'base.html' %}

{% block title %}
    Справочник - Рима
{% endblock %}

{% block content %}
    <h1>Рим</h1>
    <p>Рим — столица Италии, административный центр области Лацио и один из старейших городов мира, основанный в
        753 г. до н.э. «Вечный город», расположенный на семи холмах у реки Тибр, является колыбелью европейской
        цивилизации, политическим и культурным центром, а также крупнейшим туристическим местом, где находится
        карликовое государство Ватикан.
    </p>
{% endblock %}