{% extends 'base.html' %}

{% block title %}
    Справочник - Таллина
{% endblock %}

{% block content %}
    <h1>Таллин</h1>
    <p>Таллин (эст. Tallinn) — столица, крупнейший город и главный морской порт Эстонии, расположенный на берегу
        Финского залива Балтийского моря. Это старинный европейский город, известный своим средневековым Старым
        городом (внесен в список ЮНЕСКО). Таллин — важный культурный, экономический и туристический центр,
        гармонично сочетающий средневековую архитектуру с современной инфраструктурой.
    </p>
{% endblock %}