body {
    background-color: cyan;
}

h1 {
    color: goldenrod;
    font-size: 40px;
}

p {
    font-size: 25px;
}

.menu {
    background-color: lightpink;
    width: 12%;
    height: 100%;
    position: absolute;
    padding: 3%;
}

.main {
    width: 74%;
    margin-left: 20%;
    padding: 3%;
}

.menu li {
    color: purple;
    font-size: 20px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a:hover {
    color: #38ACBD
}